<html>

<head>
    <link rel=styleshhet type=text/css href="{{url_for('static',filename='style.css')}}">
    </head>

<body>

{% if 'username' not in session %}
    <a href='{{url_for('showLogin')}}'>Login</a>
{% else %}
    <a href='{{url_for('gdisconnect')}}'>Logout</a>
{% endif %}
<div class = 'pane'>
    <div class = 'header'>
    <h1>Restaurant List</h1>
</div>

<a href='{{url_for('newRestaurant')}}'>New Restaurant</a>
</br>

<div class = 'flash'>
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

</div>


{% for r in restaurants %}

<div class = 'idNameAndMenu'>
    <span class = 'id'><p>{{r.id}}.<span class = 'name'>
        {{r.name}} 
    </span></p></span>
    <a href='{{url_for('restaurantMenu', restaurant_id = r.id,) }}'>Menu</a>
    </div>
	
	<div class = "editdeletepane">
<a href='{{url_for('editRestaurant', restaurant_id = r.id) }}'>Edit</a>

</br>
<a href = '{{url_for('deleteRestaurant', restaurant_id = r.id) }}'>Delete</a>

</div>


{% endfor %}
</div>
</body>

</html>
